$font-family: "Inter", "Hiragino Sans", "Noto Sans JP", sans-serif;

$text-sm: 0.875rem;
$text-md: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.5rem;
$text-2xl: 1.75rem;
$text-3xl: 2rem;
$text-4xl: 3rem;
$text-5xl: 5rem;

$font-normal: 400;
$font-medium: 600;
$font-bold: 700;
